<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-grid.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lightbox.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  				integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  				crossorigin="anonymous"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    <a class="navbar-brand logo" href="/"><img src="{{ url_for('static', filename='researchtrendsknowledgenetworks_450px.png') }}" style="position:fixed;left:10px;height:80px;width:auto;"></a>
            </div>
        </header>
        {% block content %}
        {% endblock %}
    


        {% block script %}
        {% endblock %}
    </body>
</html>